@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "TT Ricordi Greto Variable";
  src: url("/fonts/TTRicordiGretoVariable.ttf") format("truetype");
}

body {
  font-family: "DM Sans", sans-serif;
  overflow-x: "hidden";
}

h1,
h2,
h3 {
  font-family: "TT Ricordi Greto Variable", serif;
}
