---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Welcome from "../components/Welcome.astro";
import Features from "../components/Features.astro";
import Trail from "../components/Trail.astro";
import Contact from "../components/Contact.astro";
import FAQ from "../components/FAQ.astro";
import Clients from "../components/Clients.astro";
import Grid from "../components/Grid3.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
const options: PricingOption[] = [
    {
        title: "1. Autonomous Stable",
        description: "You connect and manage Stable yourself.",
        priceHtml: 'Price: <span class="text-gray-900">1.9% of your annual AWS bill</span>',
    },
    {
        title: "2. Get Stable for free",
        description: "Unicorne’s FinOps team manages Stable for you.",
        priceHtml: 'Price: Opt for a <a href="/services" class="text-indigo-600 hover:underline">Unicorne Cloud Managed Services package</a>.',
    },
];

const contact: ContactCard = {
    iconPath: 'M13 1.01L6 17h6v6l7-16h-6V1.01z', // The lightning bolt path
    iconColorClass: 'text-purple-600',
    iconBgClass: 'bg-purple-100',
    linkText: 'Contact us for more information',
    linkHref: '/contact',
};
<Layout>
  <Header />
  <Welcome />
  <Features />
  <Trail />
  <Grid title="Pricing" pricingOptions={options}
            contactCard={contact}/>
  <Clients />
  <FAQ />
  <Contact />
</Layout>
