@import "tailwindcss";

@font-face {
  font-family: "TT Ricordi Greto Trial Variable";
  src: url("..\assets\TTFont\ Ricordi\ Greto\ Trial\ Variable.ttf") format("truetype");
}

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "TT Ricordi Greto Trial Variable", serif;
}

* {
  /* outline: 1px solid #000; */
}
