@import "tailwindcss";

@font-face {
  font-family: "TT Ricordi Greto Variable";
  src: url("/fonts/TTRicordiGretoVariable.ttf") format("truetype");
}

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "TT Ricordi Greto Variable", serif;
}
