---
import mouseIcon from "../assets/mouse.png";

---

<section class="rounded-b-4xl px-4 md:px-8 lg:px-12 py-6 md:py-12 bg-linear-to-b from-white/50 to-20% to-white z-2 relative">
  <div class="max-w-7xl mx-auto">
    <h2 class="text-3xl md:text-4xl lg:text-5xl text-black/80 mb-6">
      About Technovel
    </h2>

    <p class="text-xl md:text-2xl mb-4 text-black/60">We make websites and apps, full stop</p>
    <p class="text-xl md:text-2xl text-black/60">In simple words, we turn <span class="text-violet-600">dreams</span> into a digital reality by <span class="text-violet-600">giving</span> them <span class="text-violet-600">wings</span>.</p>

    <div class="w-full my-20 mt-20 md:mt-40">
      <img src={mouseIcon.src} alt="Mouse Icon" class="w-10 h-10 brightness-20 mx-auto mouse" />
      <p class="text-black/60 text-center mt-4">Scroll down to know more</p>
    </div>
  </div>
</section>

<style>
  .mouse {
    animation: mouse 2s infinite;
  }

  @keyframes mouse {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  100% {
    transform: translateY(0);
  }
</style>
