<div
  class="flex rounded-b-3xl bg-white/0 hero justify-between items-center text-sm font-bold p-4 mx-4 lg:mx-12 md:mx-8 sticky top-0 z-50"
>
  <h2 id="logo" class="text-4xl font-black font-goblin uppercase opacity-0">Technovel</h2>

  <div
    class="hidden lg:flex items-center gap-7.5 text-zinc-800 bg-gray-100/10 pl-7 px-1 rounded-lg backdrop-blur-sm py-1 shadow-lg"
  >
    <h2 class="cursor-pointer transition hover:text-[#006ab2] duration-300">
      About Us
    </h2>

    <button
      class="px-7 py-4 rounded-lg bg-linear-to-b from-10% from-violet-500/90 to-violet-900/90
             text-white font-medium hover:-translate-y-px duration-300 transition cursor-pointer"
    >
      Contact Us
    </button>
  </div>

  <div class="lg:hidden">
    <button
      class="px-5 py-2 rounded-lg bg-gradient-to-r from-[#006ab2] to-[#013456]
             text-white font-medium shadow-lg shadow-[#006ab2]/20
             hover:shadow-[#006ab2]/30 transition"
    >
      Menu
    </button>
  </div>
</div>
<script type="module" defer>
  import gsap from "https://cdn.jsdelivr.net/npm/gsap@3.12.5/index.js";
  import { ScrollTrigger } from "https://cdn.jsdelivr.net/npm/gsap@3.12.5/ScrollTrigger.min.js";

  gsap.registerPlugin(ScrollTrigger);

  const logo = document.querySelector("#logo");
  gsap.to(
    logo,
    {
      opacity: 1,
      duration: 1,
      ease: "power2.out",
      scrollTrigger: {
        trigger: document.body,
        start: "top+=320",
        toggleActions: "play reverse play reverse",
      },
    });
</script>
