---
import heroImage from "../assets/hero_image.webp";
import blobShape1 from "../assets/blob_shape1.svg";
import blobShape2 from "../assets/blob_shape2.svg";
---

<div
  id="hero-root"
  class="flex shadow-zinc-400 justify-center items-center w-full flex-col relative px-5 overflow-hidden"
>
  <!-- Hero Heading & Subheading -->
  <div class="w-full flex justify-center mx-auto items-center flex-col pt-20">
    <h2 class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-black font-goblin uppercase">Technovel</h2>

    <h1
      class="text-[1.75rem] z-30 leading-[2.375rem] max-w-[900px] sm:text-4xl py-2 mt-[23px] font-bold text-center"
    >
      Next-Gen Digital Solutions
    </h1>
  </div>

  <!-- Hero Image -->
  <div class="md:h-screen w-full flex justify-center items-center">
    <div
      class="w-full max-w-[1550px] rounded-3xl sm:-h[20%] translate-y-[100px] bg-gray-100 lg:h-[50%] border border-gray-400 flex justify-center items-end"
    >
      <img
        id="hero-image"
        class="max-w-[1250px] shadow-2xl shadow-zinc-500 rounded-3xl h-[70vh] w-full object-cover border-14 border-black/90 rounded-b-none border-b-0 brightness-90 blur-[.5px]"
        src={heroImage.src}
        alt="Hero Image"
      />
    </div>
  </div>

  <!-- Blobs -->
  <img
    id="blob-shape1"
    src={blobShape1.src}
    alt="Blob Style 1"
    class="absolute -top-10 -left-10 w-[35vw] max-w-150 min-w-20 rotate-10 -z-1 pointer-events-none"
  />
  <img
    id="blob-shape2"
    src={blobShape2.src}
    alt="Blob Style 2"
    class="absolute -top-10 right-10 h-180 w-[35vw] max-w-180 min-w-25 rotate-10 pointer-events-none"
  />
</div>

<script type="module" defer>
  import gsap from "https://cdn.jsdelivr.net/npm/gsap@3.12.5/index.js";
  import { ScrollTrigger } from "https://cdn.jsdelivr.net/npm/gsap@3.12.5/ScrollTrigger.min.js";

  gsap.registerPlugin(ScrollTrigger);

  const hero = document.querySelector("#hero-root");
  const blobShape1 = document.querySelector("#blob-shape1");
  const blobShape2 = document.querySelector("#blob-shape2");
  const heroImage = document.querySelector("#hero-image");

  if (blobShape1 && blobShape2 && heroImage) {
    gsap.fromTo(
      heroImage,
      { height: "70vh"},
      {
        height: "45vh",
        duration: 3,
        scrollTrigger: {
          trigger: hero,
          start: "top",
          end: "bottom",
          scrub: true,
        },
      }
    );

    gsap.to(blobShape1, {
      y: 600,
      opacity: 0,
      duration: 2,
      scrollTrigger: {
        trigger: hero,
        start: "top",
        end: "bottom",
        scrub: true,
      },
    });

    gsap.to(blobShape2, {
      y: 600,
      opacity: 0,
      duration: 4,
      scrollTrigger: {
        trigger: hero,
        start: "top",
        end: "bottom",
        scrub: true,
      },
    });
  }
</script>
