---
import "../styles/global.css";
import SmoothScroll from "../components/SmoothScroll.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Noto Serif Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&display=swap"
      rel="stylesheet" />

    <!-- TT Ricordi Greto Variable Font -->
    <link rel="preload" href="/fonts/TTRicordiGretoVariable.ttf" as="font" type="font/ttf" crossorigin="anonymous">


    <title>Technovel</title>
  </head>
<<<<<<< HEAD
  <body class="bg-white/50 backdrop-blur-sm overflow-x-hidden">
=======
  <body class="bg-white/50"/>
>>>>>>> a779d581ffbef3005eddba2f69bbe7abceab0056
    <slot />
    <SmoothScroll />
  </body>
</html>
