<style>
  @media (min-width: 780px) {
    .mainDiv h2 {
      font-size: 2.75rem;
      line-height: 4.25rem;
      text-align: left;
    }
    @media (min-width: 1200px) {
      .mainDiv h2 {
        font-size: 2rem;
      }
    }
    @media (min-width: 1400px) {
      .mainDiv h2 {
        font-size: 3.7rem;
      }
    }
  }
</style>

<div
  class="w-screen flex justify-center"
  data-scroll-speed="1"
  data-scroll
  data-scroll-offset="100"
>
  <div class="bg-white w-[80%] py-6 font-san mainDiv">
    <h2 class="text-[1.5rem]
           
           text-[#474747] mb-10">
      Consistently save on your AWS bills
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-16 max-w-5xl">
      <p class="text-lg text-gray-700 leading-relaxed font-light">
        With Stable, it's not just one-and-done savings.
        <br /><br />
        AWS rolls out new advisories, services, and resources at a breakneck pace,
        which means cost optimization is an endless work in progress.
      </p>

      <p class="text-lg text-gray-700 leading-relaxed font-light">
        But with projects to deliver and timelines to keep in check, who has got
        your back to keep scanning and saving on what you dish out every month?
        **Stable.**
      </p>
    </div>
  </div>
</div>
<div
  class="font-sans py-10"
  data-scroll-speed="1"
  data-scroll
  data-scroll-offset="100"
>
  <div class="flex items-center space-x-4 md:space-x-6">
    <div
      class="flex flex-col md:flex-row slides max-w-5xl mx-auto shadow-xl rounded-2xl overflow-hidden"
    >
      <div
        class="flex items-center justify-center p-8 md:p-16 mr-6 bg-[#f5f4fb] rounded-2xl w-full md:w-1/3 min-h-[250px]"
      >
        <path
          fill="url(#__lottie_element_210)"
          fill-opacity="1"
          d=" M-26.276132583618164,93.20738220214844 C-27.691131591796875,95.57647705078125 -29.980487823486328,95.57149505615234 -31.385164260864258,93.1962661743164 C-31.385164260864258,93.1962661743164 -83.954833984375,4.303736209869385 -83.954833984375,4.303736209869385 C-85.35951232910156,1.9285041093826294 -84.5341567993164,-1.074844479560852 -82.11293029785156,-2.3986711502075195 C-82.11293029785156,-2.3986711502075195 81.2069320678711,-91.69532775878906 81.2069320678711,-91.69532775878906 C83.62815856933594,-93.01915740966797 84.44512939453125,-92.17047882080078 83.03013610839844,-89.80138397216797 C83.03013610839844,-89.80138397216797 -26.276132583618164,93.20738220214844 -26.276132583618164,93.20738220214844z"
        ></path>
      </div>

      <div
        class="flex flex-col justify-center p-8 md:p-16 bg-[#f5f4fb] rounded-2xl w-full md:w-2/3"
      >
        <blockquote
          class="text-3xl sm:text-4xl font-normal text-gray-600 leading-snug mb-6"
        >
          “In less than a month, we saved thousands of dollars (23%) of our
          total AWS bill.”
        </blockquote>
        <div class="text-sm">
          <p class="font-semibold text-violet-700 mb-0">Alexandre Walsh</p>
          <p class="text-sm text-gray-600">
            Co-Founder & Engineering VP, @ Nexapp and Axify
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex space-x-2 mt-8 max-w-5xl mx-auto px-4 md:px-0">
    <button
      class="w-7 prev h-7 flex items-center justify-center bg-black text-white rounded-xl transition-colors hover:bg-gray-700"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-5 h-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>
    <button
      class="w-7 h-7 flex items-center justify-center bg-black text-white rounded-xl transition-colors hover:bg-gray-700"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-5 h-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</div>
<style></style>

<script>
  import { slide } from "astro:transitions";

  document.addEventListener("DOMContentLoaded", () => {
    const slides = document.querySelectorAll(".slides");
    const prevButton = document.getElementsByClassName("prev");
    const nextButton = document.getElementsByClassName("next");
    let currentSlide = 0;

    function showSlide(index) {
      slides.forEach((slide) => {
        slide.style.display = none;
      });
      slides[index].style.display = "flex";
    }

    function nextSlide() {
      currentSlide = (currentSlide + 1) % slide.length;
      showSlide(currentSlide);
    }
    if (nextButton) {
      nextButton.addEventListener("click", nextSlide);
    }
    if (prevButton) {
      prevButton.addEventListener("click", prevSlide);
    }
    if (nextButton) {
      nextButton.addEventListener("click", nextSlide);
    }

    if (prevButton) {
      prevButton.addEventListener("click", prevSlide);
    }
    showSlide(currentSlide);
  });
</script>
