<div>
  <div>Features</div>
  <div class="grid-cols-2">
    <div class="flex">
      <img
        src="https://www.stableapp.cloud/app/uploads/2025/07/icon-recommandations-for-cost-2x.png.webp"
        alt=""
      />
      <div>
        <h1>Prioritized recommendations for cost optimization</h1>
        <p>
          Stable categorizes fixes into Easy, Medium and Hard, along with the
          cold hard numbers of the dollars you can save.
        </p>
      </div>
    </div>
  </div>
</div>
