<div>
  <h1>Features</h1>
  <div>
    <div>
      <img src="" alt="" />
      <div>
        <h1>Prioritized recommendations for cost optimization</h1>
        <p>
          Stable categorizes fixes into Easy, Medium and Hard, along with the
          cold hard numbers of the dollars you can save.
        </p>
      </div>
    </div>
  </div>
</div>
