<section
  class="min-h-screen py-20 bg-gradient-to-b rounded-b-4xl from-[#07040b] via-[#10071a] to-[#0b0720]"
>
  <div class="max-w-7xl mx-auto px-6">
    <h2
      class="text-6xl md:text-5xl w-full text-center text-[#b6a8e1] font-semibold mb-12"
    >
      Features
    </h2>

    <div class="grid grid-cols-2 gap-y-10 md:gap-y-10">
      <!-- Feature 1 -->
      <article class="md:grid md:grid-cols-2 md:items-start gap-8">
        <div class="relative flex items-center justify-center">
          <div
            class="icon-card w-24 h-24 md:w-28 md:h-28 rounded-2xl flex items-center justify-center bg-gradient-to-tr from-[#261e33] to-[#9d90c3]"
          >
            <img
              src="https://www.stableapp.cloud/app/uploads/2025/07/icon-recommandations-for-cost-2x.png.webp"
              alt="icon"
              class="w-10 h-10 md:w-14 md:h-14 object-contain
              
               rounded-2xl"
            />
          </div>
        </div>

        <div class="text-left">
          <h3 class="text-2xl text-white/90 font-semibold mb-3">
            Prioritized recommendations for cost optimization
          </h3>
          <p
            class="text-sm md:text-base text-white/60 leading-relaxed max-w-prose"
          >
            Stable categorizes fixes into Easy, Medium and Hard, along with the
            cold hard numbers of the dollars you can save.
          </p>
        </div>
      </article>

      <!-- Feature 2 -->
      <article
        class="md:grid md:grid-cols-2 md:items-start gap-8 md:flex-row-reverse"
      >
        <div class="relative flex items-center justify-center">
          <div
            class="icon-card w-24 h-24 md:w-28 md:h-28 rounded-2xl flex items-center justify-center bg-gradient-to-tr from-[#261e33] to-[#9d90c3]"
          >
            <svg
              width="44"
              height="44"
              viewBox="0 0 24 24"
              class="w-10 h-10 md:w-14 md:h-14 fill-current text-purple-200/70
              rounded-2xl"
            >
              <path d="M13 2L3 14h7l-1 8 10-12h-7l1-8z"></path>
            </svg>
          </div>
        </div>

        <div class="text-left">
          <h3 class="text-2xl text-white/90 font-semibold mb-3">
            Impact assessment
          </h3>
          <p
            class="text-sm md:text-base text-white/60 leading-relaxed max-w-prose"
          >
            Stable will give you the details on the impact of a change you'll
            make to reduce a service- or resource-specific cost.
          </p>
        </div>
      </article>

      <!-- Feature 3 -->
      <article class="md:grid md:grid-cols-2 md:items-start gap-8">
        <div class="relative flex items-center justify-center">
          <div
            class="icon-card w-24 h-24 md:w-28 md:h-28 rounded-2xl flex items-center justify-center
            bg-gradient-to-tr from-[#261e33] to-[#9d90c3] border-2 border-zinc-600"
          >
            <img
              src="https://www.stableapp.cloud/app/uploads/2025/07/icon-cost-exploration-2x.png.webp"
              alt="exploration icon"
              class="w-14 h-14 object-contain"
            />
          </div>
        </div>

        <div class="text-left">
          <h3 class="text-2xl text-white/90 font-semibold mb-3">
            Cost exploration
          </h3>
          <p
            class="text-sm md:text-base text-white/60 leading-relaxed max-w-prose"
          >
            Stable breaks spend down to reads, writes, storage, and transfer for
            each resource. No more guessing which lever to pull.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
