<section
  class="min-h-screen py-20 bg-gradient-to-b rounded-b-4xl from-[#07040b] via-[#10071a] to-[#0b0720]"
>
  <div class="max-w-7xl mx-auto px-6">
    <h2
      class="text-6xl md:text-5xl w-[100%] text-center text-[#b6a8e1] font-semibold mb-12"
    >
      Features
    </h2>

    <div class="grid grid-cols-2 gap-y-10 md:gap-y-10">
      <article class="md:grid md:grid-cols-2 md:items-start gap-8">
        <div class="relative flex items-center justify-center">
          <div
            class="icon-card w-24 h-24 md:w-28 md:h-28 rounded-2xl flex items-center justify-center"
          >
            <img
              src="https://www.stableapp.cloud/app/uploads/2025/07/icon-recommandations-for-cost-2x.png.webp"
              alt="icon"
              class="w-10 bg-gradient-to-b border-2 border-zinc-600 from-[#b6a8e1] to-[rgba(255,255,255,0.01)] rounded-2xl h-10 md:w-14 md:h-14 object-contain"
            />
          </div>
        </div>

        <div class="text-left">
          <h3 class="text-2xl text-white/90 font-semibold mb-3">
            Prioritized recommendations for cost optimization
          </h3>
          <p
            class="text-sm md:text-base text-white/60 leading-relaxed max-w-prose"
          >
            Stable categorizes fixes into Easy, Medium and Hard, along with the
            cold hard numbers of the dollars you can save.
          </p>
        </div>
      </article>

      <article
        class="md:grid md:grid-cols-2 md:items-start gap-8 md:flex-row-reverse"
      >
        <div class="relative flex items-center justify-center">
          <div
            class="icon-card w-24 h-24 md:w-28 md:h-28 rounded-2xl flex items-center justify-center"
          >
            <svg
              width="44"
              height="44"
              viewBox="0 0 24 24"
              class="w-10 bg-gradient-to-b fill-current border-2 border-zinc-600 text-purple-200/70 from-[#b6a8e1] to-[rgba(255,255,255,0.01)] rounded-2xl h-10 md:w-14 md:h-14 object-contain"
            >
              <path d="M13 2L3 14h7l-1 8 10-12h-7l1-8z"></path>
            </svg>
          </div>
        </div>

        <div class="text-left">
          <h3 class="text-2xl text-white/90 font-semibold mb-3">
            Impact assessment
          </h3>
          <p
            class="text-sm md:text-base text-white/60 leading-relaxed max-w-prose"
          >
            Stable will give you the details on the impact of a change you'll
            make to reduce a service- or resource-specific cost: the length of
            downtime, replacement duration, in-place changes, etc.
          </p>
        </div>
      </article>

      <article class="md:grid md:grid-cols-2 md:items-start gap-8">
        <div class="relative flex items-center justify-center">
          <div
            class="icon-card w-[50vw] bg-amber-300 h-48 md:w-28 md:h-28 rounded-2xl flex items-center justify-center"
          >
            <svg
              width="44"
              height="44"
              viewBox="0 0 24 24"
              class="w-[80%] bg-gradient-to-b fill-current border-2 border-zinc-600 text-purple-200/70 from-[#b6a8e1] to-[rgba(255,255,255,0.01)] rounded-2xl h-10 md:w-14 md:h-14 object-contain"
            >
              <path
                d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zm7-2l5 5-1.5 1.5L15.5 17.5 17 16z"
              ></path>
            </svg>
          </div>
        </div>

        <div class="text-left">
          <h3 class="text-2xl text-white/90 font-semibold mb-3">
            Cost exploration
          </h3>
          <p
            class="text-sm md:text-base text-white/60 leading-relaxed max-w-prose"
          >
            Stable breaks spend down to reads, writes, storage, and transfer for
            each resource. No more guessing which lever to really pull.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
