<div class="w-full py-10 bg-[]">
  <div class="text-5xl font-semibold mb-6 w-screen text-center">Features</div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="flex items-start gap-4">
      <img
        src="https://www.stableapp.cloud/app/uploads/2025/07/icon-recommandations-for-cost-2x.png.webp"
        alt="Cost Optimization Icon"
        class="w-14 h-14 object-contain"
      />
      <div>
        <h1 class="text-xl font-semibold text-zinc-800">
          Prioritized recommendations for cost optimization
        </h1>
        <p class="text-zinc-600 mt-2 leading-relaxed">
          Stable categorizes fixes into Easy, Medium and Hard, along with the
          cold hard numbers of the dollars you can save.
        </p>
      </div>
    </div>
  </div>
</div>
