---
import technovel from "../assets/technovel_logo.png";
---

<style>
  @media (min-width: 765px) {
    .mainDiv2 h1 {
      font-size: 1.5rem;
      line-height: 2.75rem;
    }

    @media (min-width: 1200px) {
      .mainDiv h2 {
        font-size: 2rem;
      }
    }

    @media (min-width: 1400px) {
      .mainDiv2 h1 {
        font-size: 3.25rem;

        line-height: 5rem;
      }
    }
    @media (max-width: 700px) {
      .imageLogo {
        margin-top: 5vh;
      }
    }
  }
</style>

<section class="bg-gray-50/50">
  <div class="max-w-4xl mx-auto px-4 text-center mainDiv2">
    <h1 class="text-5xl md:text-6xl font-semibold text-gray-900 mb-10">
      Start your
      <span
        class="text-transparent"
        style="background-image: linear-gradient(to right, #8e59f6, #5c31b1); /* Purple Gradient */
                   -webkit-background-clip: text;
                   background-clip: text;"
      >
        free trial
      </span>
      now
    </h1>

    <button
      class="px-4 md:px-7 py-2 md:py-4 rounded-lg bg-linear-to-b from-10% from-violet-500/90 to-violet-900/90
             text-white font-medium hover:-translate-y-px duration-300 transition cursor-pointer"
    >
      Free Trial
    </button>
  </div>

  <div class="max-w-screen flex items-center flex-col">
    <!-- <div
      class="flex order-2 xl:order-1 w-[90%] justify-between py-[8vh] mx-[4.5rem] xl:text-[1.4rem] text-[1rem]"
    >
      <div class="flex flex-col gap-6 md:flex-row lg:flex-row">
        <h1>Resources</h1>
        <h1>Help Center</h1>
        <h1>Login</h1>
      </div>
      <div class="flex flex-col gap-6 md:flex-row lg:flex-row">
        <h1>Resources</h1>
        <h1>Help Center</h1>
        <h1>Login</h1>
      </div>
    </div> -->

    <img
      class="order-1 xl:order-2 imageLogo w-[80%] h-auto object-contain"
      src={technovel.src}
      alt=""
    />

    <!-- <div
      class="flex order-3 xl:order-3 w-[90%] justify-between py-[8vh] mx-[4.5rem] xl:text-[1.4rem] text-[1rem]"
    >
      <div class="flex flex-col gap-6 md:flex-row lg:flex-row">
        <h1>Resources</h1>
        <h1>Help Center</h1>
        <h1>Login</h1>
      </div>
      <div class="flex flex-col gap-6 md:flex-row lg:flex-row">
        <h1>Resources</h1>
        <h1>Help Center</h1>
        <h1>Login</h1>
      </div>
    </div> -->
  </div>
</section>
