<div class="flex justify-between bg-purple-600 text-white p-4 rounded-xl">
  <div><img src="" alt="" /></div>
  <div>
    <h2>Resources</h2>
    <div>
      <h2></h2>
      <div>
        <h2>Resources</h2>
        <div><h2>Resources</h2></div>
      </div>
    </div>
  </div>
</div>
