<style>
  .logo {
    opacity: 0;
    transform: scale(0);
  }
</style>

<div
  class="flex hero justify-between items-center text-sm font-bold p-4 mx-12
         sticky top-0 z-50"
  data-scroll-speed="1"
  data-scroll
  data-scroll-offset="100"
>
  <div>
    <img
      src="https://www.stableapp.cloud/app/themes/shape/assets/src/img/svg/tag-stable.svg"
      alt="Stable logo"
      class="w-[36px] logo"
    />
  </div>

  <div
    class="hidden lg:flex items-center gap-7.5 text-zinc-800 bg-gray-100/80 pl-7 px-1 rounded-lg border border-gray-300 backdrop-blur-sm py-1 shadow-sm"
  >
    <h2 class="cursor-pointer transition hover:text-[#a797db] duration-300">
      About Us
    </h2>

    <button
      class="px-7 py-4 rounded-lg bg-gradient-to-r from-[#006ab2] to-[#013456]
             text-white font-medium shadow-lg shadow-purple-500/20
             hover:shadow-purple-500/30 hover:scale-105 transition"
    >
      Contact Us
    </button>
  </div>

  <div class="lg:hidden">
    <button
      class="px-5 py-2 rounded-lg bg-gradient-to-r from-[#614ab1] to-[#2C104C]
             text-white font-medium shadow-lg shadow-purple-500/20 transition"
    >
      Menu
    </button>
  </div>
</div>
<script type="module" defer>
  import gsap from "https://cdn.jsdelivr.net/npm/gsap@3.12.5/index.js";
  import { ScrollTrigger } from "https://cdn.jsdelivr.net/npm/gsap@3.12.5/ScrollTrigger.min.js";

  gsap.registerPlugin(ScrollTrigger);

  const logo = document.querySelector(".logo");
  const hero = document.querySelector(".hero");
  gsap.fromTo(
    logo,
    {
      scale: 0,
      opacity: 0,
    },
    {
      scale: 1,
      opacity: 1,
      duration: 0.5,
      ScrollTrigger: {
        trigger: document.body,
        start: "top -=10",

        toggleActions: "play none none none",
      },
    }
  );
</script>
