<div class="flex justify-between text-sm font-bold p-4 rounded-xl">
  <div>
    <img
      src="https://www.stableapp.cloud/app/themes/shape/assets/src/img/svg/tag-stable.svg"
      alt=""
    />
  </div>
  <div class="flex gap-3.5">
    <h2>Resources</h2>

    <h2>Help Center</h2>

    <h2>Login</h2>
    <button>Free Trail</button>
  </div>
</div>
