<div
  class="flex justify-between items-center text-sm font-semibold p-4 mx-12
         sticky top-0 z-50"
  data-scroll-speed="1"
  data-scroll
  data-scroll-offset="100"
>
  <div>
    <img
      src="https://www.stableapp.cloud/app/themes/shape/assets/src/img/svg/tag-stable.svg"
      alt="Stable logo"
      class="w-[36px]"
    />
  </div>

  <div
    class="hidden lg:flex items-center gap-6 text-zinc-800 backdrop-blur-sm py-2"
  >
    <h2 class="cursor-pointer transition">Resources</h2>
    <h2 class="cursor-pointer transition">Help Center</h2>
    <h2 class="cursor-pointer transition">Login</h2>

    <button
      class="px-7 py-4 rounded-lg bg-gradient-to-r from-[#614ab1] to-[#2C104C]
             text-white font-medium shadow-lg shadow-purple-500/20
             hover:shadow-purple-500/30 hover:scale-105 transition"
    >
      Free Trial
    </button>
  </div>

  <div class="lg:hidden">
    <button
      class="px-5 py-2 rounded-lg bg-gradient-to-r from-[#614ab1] to-[#2C104C]
             text-white font-medium shadow-lg shadow-purple-500/20 transition"
    >
      Menu
    </button>
  </div>
</div>
