<section>
  <div>
    <div>Get Free Trail</div>
    <button></button>
  </div>

  <div>
    <img
      src="https://www.stableapp.cloud/app/uploads/2025/08/img-cta-horizontal.png.webp"
      alt=""
    />
  </div>

  <div>
    <div>Pricing</div>
    <div>
      <div>
        <h1>1. Autonomous Stable</h1>
        <p>You connect and manage Stable yourself.</p>
        <p>Price: 1.9% of your annual AWS bill</p>
      </div>
      <div>
        <h1>2. Autonomous Stable</h1>
        <p>You connect and manage Stable yourself.</p>
        <p>Price: 1.9% of your annual AWS bill</p>
      </div>
    </div>
    <div>
      <h1>3. Autonomous Stable</h1>
      <p>You connect and manage Stable yourself.</p>
      <p>Price: 1.9% of your annual AWS bill</p>
    </div>
  </div>

  <div><div></div></div>
</section>
