<section>
  <div>
    <div>Get Free Trail</div>
    <button></button>
  </div>

  <div>
    <img
      src="https://www.stableapp.cloud/app/uploads/2025/08/img-cta-horizontal.png.webp"
      alt=""
    />
  </div>

  <div>
    <div>Pricing</div>
    <div>
      <div></div>
    </div>
  </div>
</section>
