<style>
  @media (max-width: 760px) {
    .mainDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .mainDiv h2 {
      font-size: 2.75rem;
    }
  }

  @media (min-width: 780px) {
    .mainDiv h2 {
      font-size: 2.75rem;
      line-height: 4.25rem;
    }
    @media (min-width: 1200px) {
      .mainDiv h2 {
        font-size: 2rem;
      }
    }
    @media (min-width: 1400px) {
      .mainDiv h2 {
        font-size: 4rem;
      }
    }
  }
</style>

<section
  class="p-4 md:p-8"
  data-scroll-speed="1"
  data-scroll
  data-scroll-offset="100"
>
  <div
    class="max-w-7xl mx-auto flex items-center space-y-8 lg:space-y-0 lg:space-x-12"
  >
    <div class="p-6 md:p-10 mainDiv w-full lg:w-3/5">
      <h2
        class="text-[1.5rem] lg:text-[4rem] leading-[4.25rem] text-[#474747] mb-6"
      >
        About Unicorne
      </h2>

      <p class="text-[#474747] leading-relaxed mb-8">
        <a href="#" class="font-semibold text-2xl">Unicorne</a>
        is an <strong class="font-semibold"
          >AWS-certified Advanced Partner</strong
        > headquartered in Canada and razor-focused on <strong
          class="font-semibold">Amazon Web Services</strong
        >. Our certified team covers the full cloud journey—architecting and
        migrating workloads, running 24/7 managed services, and building
        cloud-native SaaS and data-driven applications. Unicorne delivers
        end-to-end AWS expertise that enables SMBs to innovate faster, scale
        sanely, and trim operational drag.
      </p>

      <button
        class="px-7 py-4 rounded-lg bg-gradient-to-r from-[#614ab1] to-[#2C104C]
             text-white font-medium shadow-lg shadow-purple-500/20
             hover:shadow-purple-500/30 hover:scale-105 transition"
      >
        Discover
      </button>
    </div>

    <div class="w-full lg:w-2/5 max-w-[90%] lg:max-w-none p-6 md:p-10">
      <img
        src="https://www.stableapp.cloud/app/uploads/2025/08/img-about-unicorne-2x-1054x1054.jpg.webp"
        alt=""
        class="rounded-4xl"
      />
    </div>
  </div>
</section>
