<section class="p-4 md:p-8">
  <div
    class="max-w-7xl mx-auto flex flex-col lg:flex-row items-center space-y-8 lg:space-y-0 lg:space-x-12"
  >
    <div class="p-6 md:p-10 w-full lg:w-3/5">
      <h2 class="text-6xl font-normal text-[#474747] mb-6">About Unicorne</h2>

      <p class="text-[#474747] leading-relaxed mb-8">
        <a href="#" class="font-semibold text-2xl">Unicorne</a>
        is an <strong class="font-semibold"
          >AWS-certified Advanced Partner</strong
        > headquartered in Canada and razor-focused on <strong
          class="font-semibold">Amazon Web Services</strong
        >. Our certified team covers the full cloud journey—architecting and
        migrating workloads, running 24/7 managed services, and building
        cloud-native SaaS and data-driven applications. Unicorne delivers
        end-to-end AWS expertise that enables SMBs to innovate faster, scale
        sanely, and trim operational drag.
      </p>

      <button
        class="px-7 py-4 rounded-lg bg-gradient-to-r from-[#614ab1] to-[#2C104C]
             text-white font-medium shadow-lg shadow-purple-500/20
             hover:shadow-purple-500/30 hover:scale-105 transition"
      >
        Discover
      </button>
    </div>

    <div class="w-full lg:w-2/5 max-w-sm lg:max-w-none p-6 md:p-10">
      <img
        src="https://www.stableapp.cloud/app/uploads/2025/08/img-about-unicorne-2x-1054x1054.jpg.webp"
        alt=""
        class="rounded-4xl"
      />
    </div>
  </div>
</section>
