<div class="flex justify-center items-center w-screen flex-col min-h-[90vh]">
  <img
    class="w-[30vw]"
    src="https://www.stableapp.cloud/app/themes/shape/assets/dist/img/svg/logo.svg"
    alt=""
  />
  <h1>Where no AWS wastecan hide</h1>
  <img
    class=""
    src="https://www.stableapp.cloud/app/uploads/2025/07/hero-laptop-asset.png.webp"
    alt=""
  />
</div>
