<div class="flex justify-center items-center w-screen h-[90vh]">
  <img
    class="w-[30vw]"
    src="https://www.stableapp.cloud/app/themes/shape/assets/dist/img/svg/logo.svg"
    alt=""
  />
</div>
