---
import heroImage from "../assets/hero_image.webp";
import blobShape1 from "../assets/blob_shape1.svg";
import blobShape2 from "../assets/blob_shape2.svg";
import technovelLogo from "../assets/technovel_logo.png";
---

<div
  id="hero-root"
  class="flex shadow-zinc-400 justify-between h-[55vh] sm:h-[75vh] md:h-screen lg:h-[120vh] items-center w-full flex-col relative overflow-x-clip px-4 lg:px-10"
>
  <!-- Hero Heading & Subheading -->
  <div
    class="w-full flex justify-center mx-auto items-center flex-col md:gap-5 mt-10"
  >
    <img
      src={technovelLogo.src}
      alt="Technovel Logo"
      class="w-60 sm:w-80 md:w-100 lg:w-120"
    />

    <h1
      class="text-xl sm:text-2xl md:text-3xl lg:text-4xl max-w-[900px] py-2 font-bold text-center text-black"
    >
      Next-Gen Digital Solutions
    </h1>
  </div>

  <!-- Hero Image -->
  <div class="w-full flex justify-center items-center">
    <div
      class="w-full max-w-[1550px] rounded-md md:rounded-xl lg:rounded-3xl bg-gray-100 h-[25vh] sm:h-[35vh] md:h-[50vh] border border-gray-400 flex justify-center items-end px-5"
    >
      <img
        id="hero-image"
        class="max-w-[1250px] sm:mt-5 shadow-2xl shadow-zinc-500 rounded-md md:rounded-xl lg:rounded-3xl rounded-b-none lg:rounded-b-none h-[140%] w-full border-b-0 lg:border-b-0 object-cover border-8 lg:border-14 border-black brightness-90 blur-[.5px]"
        src={heroImage.src}
        alt="Hero Image"
      />
    </div>
  </div>

  <!-- Blobs -->
  <img
    id="blob-shape1"
    src={blobShape1.src}
    alt="Blob Style 1"
    class="absolute -top-10 -left-10 w-[35vw] max-w-150 min-w-20 rotate-10 -z-1 pointer-events-none"
  />
  <img
    id="blob-shape2"
    src={blobShape2.src}
    alt="Blob Style 2"
    class="absolute -top-10 right-10 h-180 w-[35vw] max-w-180 min-w-25 rotate-10 pointer-events-none"
  />
</div>

<script type="module" defer>
  import gsap from "https://cdn.jsdelivr.net/npm/gsap@3.12.5/index.js";
  import { ScrollTrigger } from "https://cdn.jsdelivr.net/npm/gsap@3.12.5/ScrollTrigger.min.js";

  gsap.registerPlugin(ScrollTrigger);

  const hero = document.querySelector("#hero-root");
  const blobShape1 = document.querySelector("#blob-shape1");
  const blobShape2 = document.querySelector("#blob-shape2");
  const heroImage = document.querySelector("#hero-image");

  if (blobShape1 && blobShape2 && heroImage) {
    gsap.fromTo(
      heroImage,
      { height: "140%" },
      {
        height: "80%",
        duration: 3,
        scrollTrigger: {
          trigger: hero,
          start: "top",
          end: "bottom",
          scrub: true,
        },
      }
    );

    gsap.to(blobShape1, {
      y: 600,
      opacity: 0.1,
      duration: 2,
      scrollTrigger: {
        trigger: hero,
        start: "top-=90px",
        end: "bottom",
        scrub: true,
      },
    });

    gsap.to(blobShape2, {
      y: 600,
      opacity: 0.1,
      duration: 4,
      scrollTrigger: {
        trigger: hero,
        start: "top-=90px",
        end: "bottom",
        scrub: true,
      },
    });
  }
</script>
