<div class="flex justify-center items-center w-screen flex-col pb-5">
  <div class="h-[55vh] flex justify-center items-center w-screen flex-col">
    <img
      class="w-[25vw]"
      src="https://www.stableapp.cloud/app/themes/shape/assets/dist/img/svg/logo.svg"
      alt=""
    />
    <h1 class="text-4xl py-2">Where no AWS waste can hide</h1>
  </div>
  <img
    class="w-[60%]"
    src="https://www.stableapp.cloud/app/uploads/2025/07/hero-laptop-asset.png.webp"
    alt=""
  />

  <div class="flex justify-between w-screen">
    <h1 class="w-[40%] bg-amber-200 flex justify-center items-center text-5xl">
      Crush <br /> your AWS <br /> cost creep
    </h1>
    <div class="w-[60%]">
      <p class="text-[3vh] px-5">
        Discover Stable, your go-to solution for AWS cloud savings. Stable
        slashes runaway spend and resource sprawl across every layer of your AWS
        ecosystems—delivering the kind of FinOps-level savings straight to your
        bottom line.
      </p>
      <video
        class="w-[10vw]"
        src="https://www.stableapp.cloud/app/uploads/2025/07/short-stable.mp4"
      ></video>
    </div>
  </div>
</div>
